* {
  padding: 0;
  margin: 0;
  background-color: rgb(12 14 16);
  color: white;
}
.box {
  margin: 0 18rem;
}
.main {
  margin-top: 4rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.header input {
  width: 70%;
  padding: 5px 5px;
  font-size: 12px;
  border: 2px solid white;
  outline: none;
}
.btn {
  border: 2px solid white;
  width: 13%;
  padding: 11px 0;
  font-size: 12px;
  cursor: pointer;
}

.coin-container {
  text-align: justify;
  font-size: 15px;
}
.coin {
  border-bottom: 1px solid white;
}
.img-detail {
  text-align: left;
  align-items: center;
  display: flex;
}
.img-detail img {
  height: 25px;
  width: 25px;
}

.dir {
  direction: rtl;
}
.dir2 {
  text-align: right;
}
.mktdir {
  width: 24%;
  direction: rtl;
}
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 19px 0;
}
tr{
  border-bottom: 1px solid white
}
